
<!-- 
<h1>
  {{model.title}}
  <span style="font-size: 16px" class="pull-right">
    <a href="" ng-if="editMode" title="add new widget" ng-click="addWidgetDialog()">
      <i class="fa fa-plus"></i>
    </a>
    <a href="" ng-if="editMode" title="edit dashboard" ng-click="editDashboardDialog()">
      <i class="fa fa-pencil"></i>
    </a>
    <a href="" ng-if="options.editable" title="{{editMode ? 'save changes' : 'enable edit mode'}}" ng-click="toggleEditMode()">
      <i class="fa" x-ng-class="{'fa-pencil-square-o' : !editMode, 'fa-check' : editMode}"></i>
    </a>
    <a href="" ng-if="editMode" title="undo changes" ng-click="cancelEditMode()">
      <i class="fa fa-undo adf-flip"></i>
    </a>
  </span>
</h1>
 -->
<!-- cireson -->

<div class="drawer">
    <div class="drawer-drawertaskbar drawertaskbar">
        <div class="drawertaskbar-newbutton drawer-button drawer-toggle" data-cid="drawer-new">
            <div class="drawertaskbar-newbutton-img">
                <span class="fa fa-plus-square fa-lg nav-icon-color"></span>
            </div>
            <span class="drawertaskbar-newbutton-text"><span>New</span></span>
        </div>
        <div class="drawertaskbar-commands drawercommands">
            <div id="drawer-taskbar" class="drawercommands-commands-contextual">
                <button ng-click="addWidgetDialog()" ng-if="editMode" class="btn btn-link btn-lg"><span class="fa fa-plus"></span>
                    <div>{{ localize('Add') }}</div>
                </button>
                <button  ng-click="editDashboardDialog()" ng-if="editMode" class="btn btn-link btn-lg"><span class="fa fa-pencil"></span>
                    <div>{{ localize('Edit') }}</div>
                </button>
                <button ng-click="cancelEditMode()" ng-if="editMode" class="btn btn-link btn-lg"><span class="fa fa-times"></span>
                    <div>{{ localize('Cancel') }}</div>
                </button>
                <button ng-if="sessionUser.IsAdmin" ng-click="toggleEditMode()" class="btn btn-link btn-lg"><span class="fa" x-ng-class="{'fa-pencil-square-o' : !editMode, 'fa-check' : editMode}"></span>
                    <div>{{ editMode ? localize('Save') : localize('Edit') }}</div>
                </button>
            </div>
        </div>
    </div>
</div>
