<h1>
    {{ ::model.title }}
</h1>


<div class="drawer">
    <div class="drawer-drawertaskbar drawertaskbar">
        <div class="drawertaskbar-newbutton drawer-button drawer-toggle" data-cid="drawer-new">
            <div class="drawertaskbar-newbutton-img">
                <span class="fa fa-plus-square fa-lg nav-icon-color"></span>
            </div>
            <span class="drawertaskbar-newbutton-text"><span>{{ ::localize('New') }}</span></span>
        </div>
        <div class="drawertaskbar-commands drawercommands">
            <div id="drawer-taskbar" class="drawercommands-commands-contextual">
                <a  ng-click="editDashboardDialog()" ng-if="editMode" class="btn btn-link btn-lg"><span class="fa fa-th-large"></span>
                    <div>{{ localize('Layout') }}</div>
                </a>
                <a ng-click="addWidgetDialog()" ng-if="editMode" class="btn btn-link btn-lg"><span class="fa fa-plus"></span>
                    <div>{{ localize('Content') }}</div>
                </a>
                <a ng-if="sessionUser.IsAdmin" ng-click="toggleEditMode()" class="btn btn-link btn-lg"><span class="fa" x-ng-class="{'fa-pencil-square-o' : !editMode, 'fa-check' : editMode}"></span>
                    <div>{{ editMode ? localize('Save') : localize('Edit') }}</div>
                </a>
                <a ng-click="cancelEditMode()" ng-if="editMode" class="btn btn-link btn-lg"><span class="fa fa-times"></span>
                    <div>{{ ::localize('Cancel') }}</div>
                </a>
            </div>
        </div>
    </div>
</div>
