<div class="modal-header">
    <h4 class="modal-title">{{ ::localize('PageLayout') }}</h4>
</div>
<div class="modal-body">
    <form role="form">
        <div class="form-group">
            <label for="dashboardTitle">{{ ::localize('Title') }}</label>
            <input type="text" class="form-control" id="dashboardTitle" ng-model="copy.title" required="">
        </div>
        <div class="form-group" class="clearfix">
            <label>{{ ::localize('Layout') }}</label>
            <fieldset>
                <div ng-repeat="(key, structure) in structures" style="float: left;">
                    <adf-layout-sample ng-click="changeStructure(key, structure)" adf-structure="structure" ng-class="getSelectedStructureClass(key, structure)"></adf-layout-sample>
                </div>
            </fieldset>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary close" ng-click="closeDialog()">{{ ::localize('Close') }}</button>
</div>