<div class="modal-header">
  <h4 class="modal-title">{{ ::localize('Delete') }} {{widget.title}}</h4>
</div>
<div class="modal-body">
  <form role="form">
    <div class="form-group">
      <label for="widgetTitle">{{ ::localize('DeleteWidgetConfirmation') }}</label>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default close" ng-click="closeDialog()">{{ ::localize('Close') }}</button>
  <button type="button" class="btn btn-primary" ng-click="deleteDialog()">{{ ::localize('Delete') }}</button>
</div>
